@charset "UTF-8";
#index {
  .contents {
    width:100%;
    height:100%;
    overflow:hidden;
    padding-top:110px;
    > div {
      width:50%;
      height:100%;
      text-align:center;
      padding-top:110px;
      div {
        margin-top:65px;
        a {
          display:inline-block;
          @include txtHidden();
          width:196px;
          height:194px;
          //transition: all .3s;
          &:hover {
            background-position:0 -194px !important;
          }
          &+a {
            margin-left:60px;
          }
        }
      }
    }
    .left {
      float:left;
      background:url("../images/index/bg_index_left.jpg") no-repeat center center;
      background-size:cover;
      h2 {
        line-height:128px;
        img {vertical-align:middle}
      }
      .web {
        background:url("../images/index/btn_web_left.png") no-repeat 0 0;
      }
      .mobile {
        background:url("../images/index/btn_mob_left.png") no-repeat 0 0;
      }
    }
    .right {
      float:right;
      background:url("../images/index/bg_index_right.jpg") no-repeat center center;
      background-size:cover;
      .web {
        background:url("../images/index/btn_web_right.png") no-repeat 0 0;
      }
      .mobile {
        background:url("../images/index/btn_mob_right.png") no-repeat 0 0;
      }
    }
  }


}

#idx-header {
  width:100%;
  overflow:hidden;
  text-align:center;
  height:110px;
  vertical-align: middle;
  position:relative;
  h1 {
    text-align:center;
    line-height:110px;
    vertical-align: middle;
  }
  .left {
    left:30px;
    margin-top:-15px;
  }
  .right {
    right:30px;
    margin-top:-24px;
  }
  margin-bottom:-115px;
}

