@charset "UTF-8";

#mainBanner {
  overflow:hidden;
  height:675px;
  .item {
    width:100%;
    min-width:1200px;
    margin:0 auto;
  }
  .content {
    width:1200px;
    height:675px;
    margin:0 auto;
  }
  .banner01 {
    background:url("../images/main/bg_banner_01.jpg") no-repeat center center;
    .content {
      padding-top:110px;
    }
  }
  .banner02 {
    background:url("../images/main/bg_banner_02.jpg") no-repeat center center;
    .content {
      padding-top:110px;
    }
  }
}

#speedTuning {
  margin-top:68px;
  h1 {text-align:center}
  .select {
    overflow:hidden;
    width:422px;
    margin:30px auto 0;
    a,img {float:left}
  }
  .contents {display:block;margin-top:45px;}
}

#promotion {
  width:100%;
  min-width:1200px;
  height:531px;
  margin:65px auto 0;
  background:url("../images/main/bg_promotion.jpg") no-repeat center center;
}

#bbs {
  width:100%;
  min-width:1200px;
  height:1356px;
  margin:0 auto;
  background:url("../images/main/img_main_footer.jpg") no-repeat center center;
}

#mainBanner {
  .bx-wrapper {position:relative}
  .bx-controls {
    position:absolute;
    bottom:20px;
    left:0;
    z-index:10;
    width:100%;
    text-align:center;
    .bx-controls-auto,.bx-pager,.bx-pager-item {
      display:inline-block;
    }
    .bx-pager-item+.bx-pager-item {margin-left:10px}
    .bx-pager-link {
      display:inline-block;
      width:66px;
      height:5px;
      overflow:hidden;
      text-indent:-200%;
      background:#a6a7a8;
      &.active {
        background:#3a7ccc;
      }
    }
    .bx-controls-auto {
      width:20px;
      text-align:left;
      a {
        display:inline-block;
        text-indent:-200px;
        overflow:hidden;
        &.active {display:none}
      }
      .bx-start {
        width:7px;
        height:9px;
        background:url("../images/main/btn_start.png") no-repeat 0 0;
        position:relative;
        top:2px;
      }
      .bx-stop {
        width:6px;
        height:9px;
        background:url("../images/main/btn_stop.png") no-repeat 0 0;
        position:relative;
        top:2px;
      }
    }
  }
}