<include src="./include/mobile_layout.html">
    <header id="header">
        <a href="#this" id="logo"><img src="../images/mobile/m_logo.jpg" alt=""></a>
        <input type="checkbox" name="" id="chkMenu">
        <label for="chkMenu" id="menu">사이버 검사소</label>
        <div class="selectType">
            <a href="mobile_main.html"><img src="../images/mobile/btn_gotoChk.jpg" alt=""></a>
            <a href="mobile_smart_01.html"><img src="../images/mobile/btn_gotoSmart.jpg" alt=""></a>
        </div>
        <a href="#this" id="gnb"><img src= "../images/mobile/btn_gnb.png" alt=""></a>
    </header>

    <div id="chk-01" class="sub-chk">
        <div class="chkSearchBox">
            <img src="../images/mobile/img_chk_01_01.jpg" alt="">
            <a href="mobile_main.html" class="home"><img src="../images/mobile/btn_chk_search.png" alt=""></a>
        </div>
        <a href="mobile_chk_02.html"><img src="../images/mobile/img_chk_01_02.jpg" alt=""></a>
        <img src="../images/mobile/img_chk_01_03.jpg" alt="">
    </div>

    <footer id="footer" class="sub">
        <img src="../images/mobile/img_footer.jpg" alt="">
    </footer>
</include>
<script>
    $(document).ready(function(){
        
    });
</script>