<include src="./include/mobile_layout.html">
    <header id="header">
        <a href="#this" id="logo"><img src="../images/mobile/m_logo.jpg" alt=""></a>
        <input type="checkbox" name="" id="chkMenu">
        <label for="chkMenu" id="menu">사이버 검사소</label>
        <div class="selectType">
            <a href="mobile_main.html"><img src="../images/mobile/btn_gotoChk.jpg" alt=""></a>
            <a href="mobile_smart_01.html"><img src="../images/mobile/btn_gotoSmart.jpg" alt=""></a>
        </div>
        <a href="#this" id="gnb"><img src= "../images/mobile/btn_gnb.png" alt=""></a>
    </header>
    <div id="main" class="">
        <div class="selectArea">
            <img src="../images/mobile/txt_main.png" alt="" class="txt">
            <div class="flex">
                <a href="#this" class="car"><img src="../images/mobile/icon_select_car.png" alt=""></a>
                <a href="#this" class="bike"><img src="../images/mobile/icon_select_bike.png" alt=""></a>
            </div>
        </div>
        <p class="txtSelect">
            <img src="../images/mobile/txt_choise.png" alt="" class="txt">
            <img src="../images/mobile/iconSelect.png" alt="" class="cursor">
        </p>
        <div class="carContent">
            <p class="tit"><img src="../images/mobile/txt_inpcar.png" alt=""></p>
            <div class="searchBox">
                <input type="text" placeholder="차량번호를 입력하세요.">
                <a href="mobile_chk_01.html" class="btnSearch"><img src="../images/mobile/icon_searh.png" alt="차량번호검색"></a>
            </div>
        </div>
        <div class="bikeContent">
            <p>준비중입니다.</p>
        </div>
    </div>
    <footer id="footer">
        <img src="../images/mobile/img_footer.jpg" alt="">
    </footer>
</include>
<script>
    $(document).ready(function(){
        $(".flex").on("click","a",function(){
            var $this = $(this);
            if($this.hasClass("car")){
                $("#main").addClass("activeCar").removeClass("activeBike");
            }else{
                $("#main").removeClass("activeCar").addClass("activeBike");
            }
            return false;
        })
    });
</script>