@charset "UTF-8";

//버튼 그룹
.btnGroup {
  display:flex;
  padding:0 15px;
  text-align:center;
  justify-content: space-between;
  width:100%;
  a {
    height:50px;
    background:#d1d1d1;
    color:#313131;
    font-size:17px;
    flex-grow: 1;
    width:50%;
    img {vertical-align: middle}
    @include beforeLayoutCenter;
    &+a {margin-left:10px;}
    &.disabled {
      pointer-events: none;
      cursor: default;
      background:#e2e2e2 !important;
      color:#989898;
    }
    .list {width:80px;vertical-align: middle}
    .next {width:42px;}
    .prev {width:42px;}
  }
  &.column {
    flex-direction:column;
    a {
      width:100%;
      &+a {margin-top:15px;margin-left:0}
    }
  }
  a.cYellow {
    background:#ffbf44;
  }
}

.sub-smart,.sub-chk {
  img {width:100%;vertical-align: top}
}
.sub-chk+#footer {
  margin-top:0;
}

#smart-01 {
  input {
    display:block;
    padding:10px 15px;
    border:none;
    border-bottom:1px solid #e1e9ec;
    width:100%;
    color:#313131;
    font-size:20px;
    &+label {
      top:12px;

    }
  }
  input[type="password"] {
    margin-bottom:25px;
    font-family:"맑은 고딕";
    &+label {
    top:44px;
  }
  }
  label {
    position:absolute;
    right:15px;
    width:18px;
    height:19px;
    background:url("../images/mobile/iconChkinp.png") no-repeat 0 0;
    background-size:100%;

  }
  .relative {position:relative;}
}


//검사소
.chkSearchBox {
  position:relative;
  .home {
    position:absolute;
    left:50%;
    top:75px;
    transform: translateX(-50%);
    display:block;
    img {width: 57px}
  }
}

#smart-03 {
  position:relative;
  .onPop {
    position:absolute;
    right:15px;
    top:180px;
    background:transparent;
    border:none;
    width:50px;
    height:50px;
  }
}

.layoutPopup {
  position:absolute;
  overflow:hidden;
  left:0;
  top:-40px;
  width:100%;
  height:100%;
  background:#fff;
  transform: translateY(-100%);
  transition: all .3s;
  background:#fff url("../images/mobile/img_map.jpg") no-repeat center center;
  background-size:100%;
  &.active {
    transform: translateY(0);
    z-index:1000;
  }
  .btnGroup {
    margin-top:500px
  }
}

#smart-06 {
  .banner {
    overflow:hidden;
    position:relative;
    width:100%;
    height:0;
    padding-top:(230 / 640 * 100%);
    img {
      position:absolute;
      left:0;top:0;
      width:100%;
    }
  }
}