<aside id="btnTop">
    <div class="cover">
        <a href="#"><img src="../images/common/bg_btn_top.png" alt=""></a>
    </div>
</aside>
<footer id="footer">
    <div class="util"><img src="../images/common/img_footer_01.jpg" alt=""></div>
    <div class="contents">
        <img src="../images/common/img_footer_02.jpg" alt="">
    </div>
</footer>
<aside id="gotoSmart">
    <a href="#this"><img src="../images/common/btn_smart_go.jpg" alt=""></a>
</aside>