<header id="header">
    <div class="util">
        <div class="layout-width">
            <a href="main.html"><img src="../images/common/logo.png" alt=""></a>
        </div>
    </div>
    <nav id="gnb">
        <h1 class="txtHide">메인메뉴</h1>
        <div class="layout-width">
            <div class="float">
                <div class="menu01">
                    <a href="#this" class="menu01">자동차 튜닝</a>
                    <div class="cover">
                        <ul>
                            <li><a href="chk_01.html">튜닝승인신청</a></li>
                            <li><a href="chk_02.html">튜닝결과확인</a></li>
                            <li><a href="">튜닝검사 증명서 발급</a></li>
                            <li><a href="">튜닝도면 공유방</a></li>
                            <li><a href="">튜닝고객지원</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menu02">
                    <a href="#this" class="menu02">이륜차 튜닝</a>
                    <div class="cover">
                        <ul>
                            <li><a href="">튜닝승인신청</a></li>
                            <li><a href="">튜닝결과확인</a></li>
                            <li><a href="">튜닝검사 증명서 발급</a></li>
                            <li><a href="">튜닝고객지원</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menu03">
                    <a href="#this" class="menu03">제작/정비업자 튜닝</a>
                    <div class="cover">
                        <ul>
                            <li><a href="">튜닝작업접수/취소</a></li>
                            <li><a href="">튜닝작업등록/완료</a></li>
                            <li><a href="">튜닝작업목록</a></li>
                            <li><a href="">튜닝작업(상세)조회</a></li>
                            <li><a href="">튜닝이력목록조회</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menu04">
                    <a href="#this" class="menu04">정보서비스</a>
                    <div class="cover">
                        <ul>
                            <li><a href="">자동차등록정보</a></li>
                            <li><a href="">중고차 수출검사이력</a></li>
                            <li><a href="">검사유효기간 조회</a></li>
                            <li><a href="">검사/튜닝이력 조회</a></li>
                            <li><a href="">주행거리확인</a></li>
                            <li><a href="">도면정보제공</a></li>
                            <li><a href="">비교제원분석</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menu05">
                    <a href="#this" class="menu05">종합검사교육</a>
                    <div class="cover">
                        <ul>
                            <li><a href="">교육일정관리</a></li>
                            <li><a href="">교육신청관리</a></li>
                            <li><a href="">교육과정내역</a></li>
                            <li><a href="">종합검사교육실적</a></li>
                            <li><a href="">종합검사교육수료</a></li>
                            <li><a href="">교육도우미</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menu06">
                    <a href="#this" class="menu06">내압용기 자동차</a>
                    <div class="cover">
                        <ul>
                            <li><a href="">예약정보조회</a></li>
                            <li><a href="">검사유효 기간조회</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>