<script src="../js/vendor/jquery-1.12.0.min.js"></script>
<script src="../js/vendor/jquery.easing.1.3.js"></script>
<script src="../js/vendor/modernizr-3.5.0.min.js"></script>
<script src="../js/vendor/jquery.bxslider.min.js"></script>
<script src="../js/plugins.js"></script>
<script src="../js/main.js"></script>