@charset "UTF-8";
//공통
legend {@include txtHidden()}
label {cursor:pointer}


$layout-width :1200px;

//색상표

$cBrd :#d9d9d9; //보더기본색


.layout-width {
  width:$layout-width;
  min-width:$layout-width;
  margin-left:auto;
  margin-right:auto;
}


//상단 컨텐츠
#topBanner {
  width:100%;
  background:#223a93 url("../images/common/bg_top_banner.jpg") no-repeat left 0;
  .layout-width {
    text-align:center;
    height:131px;
    @include beforeLayoutCenter;
    img {
      vertical-align: middle;
      cursor: pointer;
    }
  }
}

.btnGroup {
  text-align:center;
  img {vertical-align: top}
}




