@charset "UTF-8";
html,body {width:100%;height:100%;}
body {transition: all 1s}
#header {
  position:relative;
  .util {
    width:100%;
    height:103px;
    text-align:center;
    border-bottom:1px solid $cBrd;
    .layout-width {
      @include beforeLayoutCenter();
      width:100%;
      height:100%;
      background:url("../images/common/bg_top_util.jpg") no-repeat center 0;
      img {vertical-align: middle}
    }
  }
}

#gnb {
  width:100%;
  border-bottom:1px solid $cBrd;
  position:relative;
  z-index:100;
   &:before {
    content:"";
    display:block;
    width:100%;
    position:absolute;
    left:0;
    top:65px;
  }
  .float {
    display:inline-block;
    @include clearFix;
    > div {
      float:left;
      margin-top:20px;
      position:relative;
      .cover {
        position:absolute;
        left:0;
        top:46px;
        padding-top:20px;
        width:100%;
        height:253px;
        text-align:center;
      }
      &:hover {
        > a {border-bottom:4px solid #223a93;}
        .cover {background:#ecf2f5;}
      }
      &.menu01 {
        width:174px;
        ul {

        }
      }
      &.menu02 {
        width:183px;
      }
      &.menu03 {
        width:244px;
      }
      &.menu04 {
        width:178px;
      }
      &.menu05 {
        width:197px;
      }
      &.menu06 {
        width:211px;
      }
      > a {
        display:block;
        color:#1b1b1b;
        font-weight:bold;
        font-size:20px;
        letter-spacing: -0.02em;
        vertical-align: middle;
        text-align:center;
        padding-bottom:19px;
        transition: all 0.3s;
        border-bottom:0 solid transparent;
        position:relative;
        z-index:1;
      }
    }

  }
  > .layout-width {
    height:65px;
    overflow:hidden;
  }
  ul {
      display:inline-block;
    text-align:left;
    li {
      margin-top:10px;
      &:first-child {margin-top:0;}
      a {
        font-size:15px;
        letter-spacing: -0.02em;
        color:#414040;
        &:hover {
          color:#0049c2;
        }
      }
    }
  }
}


//마우스 오버시 gnb

body.activeGNB {
  #gnb {
    height:66px;
    &:before {
      top:0;
      height:318px;
      border-bottom:1px solid $cBrd;
      background:#fff;
    }
    &:after {
      content:"";
      display: block;
      position:absolute;
      top:65px;
      width:100%;
      border-bottom:1px solid $cBrd;
    }
    .layout-width {
      height:318px;
      position:absolute;
      z-index:100;
      left:50%;
      margin-left:-600px;
    }
  }
}

#footer {
  width:100%;
  min-width:1200px;
  background:#333333;
  img {vertical-align: top}
  div {
    text-align:center;
  }
  .util {
    border-bottom:1px solid #545454;
    line-height:1;
  }
}

#btnTop {
  width:(1200px + 91);
  left:50%;
  margin-left:-670px;
  bottom:150px;
  position:absolute;
  .cover {
    float:right;
    position:relative;
    a {
      position:fixed;
      &:before {
        content:"";
        display:block;
        position:absolute;
        width:20px;
        height:12px;
        background:url("../images/common/iconTopArrow.png") no-repeat 0 0;
        left:50%;
        margin-left:-12px;
        top:15px;
        z-index:1;
      }
      &:hover:before {
        animation: arrow 0.5s infinite;
      }
    }
  }
}

@keyframes arrow {
0 {top:15px}
50% {top:10px}
100% {top:15px}
}


#gotoSmart {
  width:65px;
  height:100%;
  position:absolute;
  right:0;
  top:0;
  box-shadow: -3px 0 5px rgba(0,0,0,0.3);
  background:#ffb639 url("../images/common/btn_goto_smart.jpg") no-repeat center top;
  z-index:200;
  a {opacity: 0;transition: all 0.3s;}
  transition: all 0.3s;
}

body.activeSmart {
  margin-left:-100%;
  overflow:hidden;
  #smartContent {
    left:0;
  }
  #gotoSmart {position:absolute}
  #cyberCheck {
    overflow:hidden;
  }
  #gotoChk {
    &:hover {
      width:220px;
      p {display:none}
      a {opacity: 1}
    }
  }
}


body.activeChk {
  #gotoSmart {
    position:fixed;
    &:hover,&.firstLoading {
      width:221px;
      background:#ffb639;
      a {opacity: 1}
    }
  }
}



#cyberCheck,#smartContent {
  width:100%;
  float:left;
  position:relative;
}


//스마트 예약
#smartContent {
  width:100%;
  height:100%;
  background:#fff;
  position:fixed;
  left:100%;
  top:0;
  transition: all 1s;

}

#gotoChk {
  width:60px;
  height:100%;
  overflow:hidden;
  position:absolute;
  left:0;
  top:0;
  background:#5070b1 url("../images/common/bg_goto_chk.jpg") no-repeat 0 0;
  transition: all 0.3s;
  box-shadow: 0 4px 10px rgba(0,0,0,0.8);
  a {
    opacity: 0;
    transition: opacity 0.3s;
  }
  p {
    position:absolute;
    left:0;top:0;
  }

}



.container {
  display:table;
  width:100%;
  height:100%;
  table-layout:fixed;
  > div {
    display:table-cell;
    overflow:hidden;
    height:100%;
    vertical-align: top;
  }
  .left {
    width: (610 / 1600 * 100%);
    padding: 60px (40 / 1600 * 100%) 0 (140 / 1600 * 100%);
    background: url("../images/smart/bg_smart.jpg") no-repeat left top;
    background-size: cover;
    img {
      width: 100%;
      max-width: 377px;
    }
    img + img {
      margin-top: 80px;
      display:block;
    }
    vertical-align: top;
  }
  .center {
    width:730px;
    min-width:(730 / 1600 * 100%);
    max-width:(730 / 1600 * 100%);
  }
  .right {
    width: (260 / 1600 * 100%);
    background:#ffbf44;
    img {width:100%;max-width:260px;}
  }
}

#smart {
  padding:60px 70px;
  height:100%;
  overflow-y:auto;
  text-align:center;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
  }
  &::-webkit-scrollbar-thumb  {
    background-color: #D9D9D9;
    border: 2px solid #D9D9D9;
  }
}

#subContent {
  width:$layout-width;
  margin:0 auto;
  padding:90px 0 160px;
  text-align:center;
}

.subVisual {
  width:100%;
  height:225px;
  background-position:center center;
  background-size:cover;
  background-repeat: no-repeat;
  background-image:url("../images/common/bg_sub_visual_02.jpg");
  text-align:center;
  @include beforeLayoutCenter;
  h2 {
    display:inline-block;
    color:#fff;font-size:30px;text-align:center;
  }
}

//서브메뉴
#snb {
  width:$layout-width;
  height:60px;
  display:table;
  table-layout: fixed;
  margin:-60px auto 0;
  background:#fff;
  a {
    display:table-cell;
    text-align:center;
    vertical-align: middle;
    font-size:17px;
    letter-spacing: -0.02em;
    color:#414040;
    position:relative;
    &:before {
      content:"|";
      display:inline;
      float:left;
    }
    &.active {
      background:#f39b3d;
      color:#fff;
      border-left:none;
      &:after {
        content:"";
        display:block;
        position:absolute;
        width:11px;
        height:6px;
        left:50%;
        bottom:-6px;
        margin-left:-5px;
        background:url("../images/common/img_snb_arrow.png") no-repeat 0 0;
      }
      &+a:before {
        display:none
      }
    }
    &:first-child:before {display:none}
  }
}

