@mixin inline-block(){
    display:inline-block;zoom:1;*display:inline;
}

@mixin txtHidden(){
    overflow:hidden;
    display:inline-block;*display:inline; zoom:1;
    text-indent:-9999px; white-space:nowrap; line-height:0;
}

//...한줄처리
@mixin ellipsis(){
    overflow:hidden; white-space:nowrap !important;
    text-overflow:ellipsis; -o-text-overflow:ellipsis; word-wrap:normal !important;
}
// 말주림 2줄
@mixin ellipsis_multi($textLine:2) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $textLine;
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    line-height:1.5em;
    max-height: (1.5em * $textLine);
}

//clear처리
@mixin clearFix(){
    clear:both;
    &:before,&:after {content:" "; display:table;}
    &:after {clear:both;}
}

.clearFix {
    @include clearFix();
}

.icon {
    position:relative;
    overflow:hidden;
    display:inline-block;*display:inline; zoom:1;
    text-indent:-9999px; white-space:nowrap; line-height:0;
    vertical-align:middle;
}

.txtHidden {@include txtHidden()}
.txtHide {position:absolute;left:-100%;top:-100%;width:0;height:0;display:block;font-size:0;line-height:0;overflow:hidden;}

//가운데 정렬
@mixin beforeLayoutCenter(){
    &:before {
        content:"";
        display:inline-block;
        width:1px;
        height:100%;
        vertical-align: middle;
        margin-left:-1px;
    }
}